.background-sky {
    position: fixed;
    background: url('../../images/sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.background-mountain {
    position: fixed;
    top: .2px;
    background-image: url('../../images/ground.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.logBtn:hover {
        background: rgb(102, 120, 172)!important;
}
