.background-sky {
    position: fixed;
    background: url('../../images/sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.background-mountain {
    position: fixed;
    top: .2px;
    background-image: url('../../images/ground.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}


.bckgrnd {
    background: rgba(0, 0, 0, 0.4)!important;
}

.regBtn {
    margin-top: -1rem;
}

.regBtn:hover {
    background: rgb(75, 87, 123)!important;
}

.regg {
    padding-top: 1rem;
    color: white;
}


