.card {
    border: none;
}

.btn {
    background-color: rgb(221, 90, 57);
    border: none;
    border-radius: 20px;

}


.user {
    margin-right: 1rem;

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}

.rdtOpen .rdtPicker {
    width: 100%;
    bottom: 40px;
    max-width: 400px;
}