.background-sky {
    position: fixed;
    background: url('../../images/sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
.background-mountain {
    position: fixed;
    top: .2px;
    background-image: url('../../images/ground.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

/* ---------- Background Images ^ ------------- */

.landing-bckgrnd {
    border-radius: 15px;
    height: 85vh;
    color: white;
    background: 
    linear-gradient(
    to bottom,
    rgba(0, 0, 0, .2) 0%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.5) 65%,
    rgba(0, 0, 0, .4) 100%
    );
    box-shadow: 1px 3px 8px 2px rgb(10,10,10);
    padding-right: 100px;
}

.landing-logo {
    margin-top: 5px;
    max-width: 125px;
    margin-bottom: 15px;
}

.landing-links {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-title {
    border-bottom: 1px solid;
    padding-bottom: 15px;
    padding-top: 35px;
    text-align: center;
}

.title {
    font-family: 'Questrial', sans-serif;
    text-align: center;
} 

.btn-links:hover {
    background: rgb(75, 87, 123)!important;
    transition: ease 0.6s;
}
.text {
    text-decoration: none;
    color: white;
}
.text:hover {
    text-decoration: none;
    color: white;
}

.welcome {
    padding-top: 3rem;
}

.carousel-caption {
    font-family: 'Questrial', sans-serif;
    left: -1%!important;
    position: relative!important;
}
.car-padding {
    left: 7%;
}
.carousel-inner {
    padding-top: 25px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: none!important;
}

.card-ul {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    padding: 3px;
    font-style: italic;
    list-style: none;
    font-weight: 900;
}

.avatars {
    padding-bottom: 15px;
    margin: auto;
    max-width: 150px;
}

.team-btn {
    margin-top: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 2.2rem;
    }
    .card-ul {
        font-size: 1.4rem;
        padding: 1px;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 850px!important;
    }
    .car-padding {
        left: 4%;
    }
    .btn-lg {
        font-size: 1rem!important;
        line-height: 1.5;
    }
    .card-title {
        padding-top: 20px;
        padding-bottom: 20px;
    } 
    .title {
        font-size: 1.7rem;
    }
    .travel-safely {
        font-size: 1rem!important;
    }
    .carousel-inner {
        padding-top: 0;
    }
    .landing-bckgrnd {
        height: 80vh;
    }
    .avatars {
        max-width: 100px;
    }
    .team-btn {
        margin-top: 45px;
        margin-right: 25px;
    }
    .card-ul {
        padding: 0px;
        font-size: 1.2rem;
    }
    .landing-links {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 830px) {
    .container {
        max-width: 700px!important;
    }
    .card-ul {
        font-size: 1.2rem;
    }
    .carousel-inner {
        padding-top: 0px;
    }
    .landing-bckgrnd {
        height: 75vh;
    }
    .title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 96%!important;
    }
    .landing-bckgrnd {
        background: 
        linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, .5) 100%
        );
        box-shadow: .5px 2px 7px 2px rgb(0,0,0);
        height: 88vh;
    }
    .welcome {
        padding-top: 1rem;
    }
    .card-body {
        padding: 0px!important;
    }
    .card-title {
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .travel-safely {
        padding-left: 170px;
        margin-top: -55px;
        overflow: wrap;
    }
    .title {
        font-size: 2.5rem;
        padding-top: 20px;
    }
    .card-ul {
        padding-left: 10px;
        font-size: 1rem;
        float: left;
        align-items: center;
    }
    .landing-links {
        justify-content: center;
        padding-left: 180px;
        padding-top: 20px;
    }
    .col-8 {
        position: fixed!important;
        left: 80px;
        right: 20px;
        top: 320px;
    }
    .team-btn {
        margin-top: 20px;
        margin-right: 35px;
    }
    .carousel-inner {
        width: 115%!important;
    }
    .carousel-indicators {
        margin-right: 0px!important;
    }
    .btn-lg {
        padding: .25rem .5rem!important;
        font-size: .875rem!important;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 493px) {
    .avatars {
        max-width: 60px;
    }
    .carousel-caption, .carousel-caption h5 {
        font-size: .8rem; 
    }
    .col-8 {
        position: fixed!important;
        left: 65px;
        top: 310px;
    }
    .travel-safely {
        text-align: center;
        padding-left: 160px;
        margin-top: -55px;
    }
    .landing-logo {
        max-width: 120px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .landing-links {
        justify-content: space-evenly;
        padding-left: 75px;
        padding-top: 5px;
    }
    .card-title {
        padding-bottom: 10px;
    }
    .title {
        padding-top: 10px;
        font-size: 1.7rem;
    }
    .landing-bckgrnd {
        height: 65vh;
    }
    
}

@media only screen and (max-width: 384px) {
    .landing-bckgrnd {
        height: 74vh;
    }
    .landing-logo {
        max-width: 32%;
    }
    .card-ul {
        margin-left: 80px;
    }
    .col-8 {
        left: 52px;
        top: 340px;
    }
    .travel-safely {
        padding-left: 120px;
        margin-top: -45px;
    }
    .title {
        padding-top: 10px;
        font-size: 1.5rem;
    }
    .landing-links {
        padding-left: 55px;
        padding-top: 10px;
        padding-right: 50px;
    }
}
